* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.center-game {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}

div {
    border: 1px solid black;
}

.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.game-position {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
}

.player1-name{
    display: flex;
    margin-bottom: 1rem;
}

.player2-name{
    display: flex;
    margin-top: 1rem;
}

.score-table-player1, .score-table-player2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores {
    display: flex;
    justify-content: space-between;
    padding: 0 20rem;
    
}